<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="true" />

    <application>
        <activity
            android:name=".ReadbackActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode"
            android:excludeFromRecents="false"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="securemrprobe" />
            <meta-data
                android:name="com.oculus.vr.focusaware"
                android:value="true" />
            <meta-data
                android:name="pvr.app.type"
                android:value="vr" />
        </activity>

        <meta-data
            android:name="enable_mr_safeguard"
            android:value="1" />
    </application>
</manifest>
